.ColorBox{
	width:20%;
	height:27%;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	display: inline-block;
}
.copy-button{
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline-block;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);   
	outline: none;
	text-align:center;
	background-color:rgba(255,255,255,0.3);
	font-size:1rem;  
    line-height:30px; 
    color:#fff;
    text-transform: uppercase;
    border: none;
    opacity: 0;
    cursor: pointer;
}
.ColorBox:hover .copy-button{
	 opacity: 1;
    transition:  0.4s;
}
.box-content{
	 position: absolute;
	 padding: 10px;
	 width:100%;
	 left:0;
	 bottom:0;
	 color:#000;
	 letter-spacing:1px;
	 text-transform: uppercase;     
	 font-size: 12px;
}
.see-more{
  background-color:rgba(255,255,255,0.3);
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  color: #fff;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase; 
  padding:5px; 
}
.copy-overlay{
    z-index: 0;
	opacity: 0;
	width:100%;
	height: 100%; 
	transition: 0.5s transform ease-in-out;
}
.copy-overlay.show{
	opacity: 1;
	z-index: 10;
	transform: scale(50);
	position: absolute;
}
.copy-msg{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size:4rem; 
	transform: scale(0.1);
	opacity: 0;
	color:#fff;  
	text-align: center;
}
.copy-msg.show{
	opacity: 1;
	z-index: 25;
	transform: scale(1);
	transition: 0.5s transform ease-in-out;
	transition-delay: 0.1s;
}
.copy-msg h1{
	 font-weight: 400;
	 text-shadow: 1px 2px #000;
     background-color:rgba(255,255,255,0.3);
     width:100%; 
     margin-bottom: 0;
     padding:1rem; 
     text-transform: uppercase;
}
.copy-msg p{
  font-size: 2rem;
}
